header .wrapper {
    width: 1200px;
    margin: 0 auto;
}


header .wrapper ul li a {
    color: #000000;
    font-family: Gilroy-Medium;
    font-size: 16px;
}

#header .dropdown-menu {
    width: 250px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 12px 0px;
}

#header .dropdown-item {
    white-space: inherit;
    font-size: 14px;
    line-height: 20px;
    padding: 17px;
}

/* about */

 
#about .wrapper{
       padding-top: 135px;
       margin-bottom: 132px;
}






#about .about-contents .about-right h5{
   color: #05A93D;
   font-family:Gilroy-Bold ;
   font-size: 43px;
   line-height: 69px;
   margin-top: 53px;


}

#about .about-contents .about-right p{
   font-family: Gilroy-Medium;
   font-size: 16px;
   line-height: 28px;
   color: #777777;
   letter-spacing: 2%;
   margin-top: 9px;
   margin-bottom: 21px;
   
}

#about .about-contents .about-right a{
    font-family: Gilroy-SemiBold;
    text-decoration: none;
    text-align: center;
    background-color: #05A93D;
    color: #FFFFFF;
    padding: 15px 25px 13px 25px;
    gap: 10px;
    border-radius: 70px;
   
    margin-bottom: 146px;
    
}

#about .about-contents .about-right .arrow-img {
    position: relative;
    top: 0px;
    right: -7px;
}

/* footer */
.footer {
   background-color: #05A93D;
   text-align: center;

}

.footer .logo img{
   margin-top: 65px;
}

.footer .texts{
   display: flex;
   justify-content: center;
   gap: 72px;
   margin-top: 37.7px;
   margin-bottom: 41px;
} 

.footer .texts a{
   font-size: 17px;
   font-family: Gilroy-Medium;
   text-decoration: none;
   line-height: 100%;
   color: #FFFFFF;
}

.footer .icon-img{
    display: flex;
    justify-content: center;
    column-gap: 11px;
}
   
.footer .social-media{ 
   display: flex;
    border-radius: 50%;
    background-color: #F67C01;
    height: 37.81px;
    width: 37.81px;
    justify-content: center;
    align-items: center;
}
  


.footer hr{
   margin-top: 44.19px;
   width: 100%;
   color: #FFFFFF;
}


.footer .para p{
   font-family: Gilroy-Medium;
   font-size: 14px;
   line-height: 100%;
   letter-spacing: 13%;
   color: #FFFFFF;
   padding-top: 85.19px;
   padding-bottom: 43px;
}

/* responsive */
@media screen and (max-width: 1199px) {
    header .wrapper {
        width: 100%;
        padding: 0 20px;
    }

      #about .main-img {
      width: 100%;
    }

      .footer .wrapper {
        width: 100%;
        padding: 0 20px;
    }
}


@media screen and (max-width:1078px) {
    .wrapper {
        width: 100%;
        padding: 0 20px;
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
     .header .wrapper {
        width: 100%;
        padding: 0 20px;
    } 
    
    .footer .wrapper {
        width: 100%;
        padding: 0 20px;
    }
}

@media only screen and (max-width: 767px)  {
      .header .wrapper {
        width: 100%;
        padding: 0 20px;
    } 

      .footer .wrapper {
        width: 100%;
        padding: 0 20px;
    }
}

@media only screen and (max-width: 500px){
    
     .header .wrapper {
        width: 100%;
        padding: 0 20px;
    }  
    
    .footer .wrapper {
        width: 100%;
        padding: 0 20px;
    }
    
    .footer .texts a{
      font-size: 12px;
    }

    .footer .texts{
      gap: 56px;
    }
}

@media screen and (max-width: 376px){
    .header .wrapper {
        width: 100%;
    padding: 0 20px;
    }  
    
    .footer .texts {
        gap: 30px;
    }

    .footer .wrapper {
        width: 100%;
        padding: 0 20px;
    }
}


@media screen and (max-width: 408px){


    #header .navbar-brand {
        width: 50%;
    }

    #header .navbar-brand img{
        width: 100%;
    }
}